.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;
}

.card {
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.try-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
    margin-left: 45rem;
    margin-top: 2rem;
}

.image-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-image {
    width: 24%;
    height: auto;
    border-radius: 10px;
}

.btn-mdl {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 20rem;
}